{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
  <div class="log-in container">
    <h1>Please log in</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
          <label>Username</label>
          <input type="text" name="username">
        </p>
        <p>
          <label>Password</label>
          <input type="password" name="password">
        </p>
        <button class="btn btn-primary" type="submit">
          Login
        </button>
    </form>
  </div>
{% endblock %}
