html, body {
  height: 100%; }

*, p {
  margin: 0;
  padding: 0; }

.app {
  min-height: 100%;
  width: 100%; }
  .app .left {
    max-width: 20%; }

.header {
  display: flex;
  justify-content: space-between; }
  .header ul {
    display: flex;
    padding: 10px;
    color: white;
    text-shadow: 0px 0px 3px black; }
    .header ul li {
      font-size: 1.5em;
      list-style: none;
      padding: 0 10px; }
    @media only screen and (max-width: 800px) {
      .header ul {
        display: none; } }

.text:hover {
  color: red;
  text-decoration: none;
  transition-duration: .3s; }

.display-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px; }
  @media only screen and (max-width: 800px) {
    .display-cards {
      flex-direction: column; } }

.display-card {
  margin: 10px;
  width: 20%; }
  .display-card:hover {
    cursor: pointer;
    transform: scale(1.1); }
  @media only screen and (max-width: 800px) {
    .display-card {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 80%; } }

.form-control:focus {
  outline: none; }

.single_coin {
  height: 100vh;
  width: 100%; }

.single_card {
  margin-top: 40px; }

.enter-name h1 {
  margin-top: 40px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px black; }

.markets {
  height: 100vh;
  width: 100%; }
  .markets .market-header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: .8; }
    .markets .market-header p {
      padding: 10px;
      text-align: center;
      color: white;
      text-shadow: 0px 0px 3px black; }
  .markets .market-display {
    height: 80vh;
    overflow: scroll; }
    .markets .market-display p {
      padding: 10px;
      text-align: center; }

@media only screen and (max-width: 800px) {
  .market-container {
    margin-top: 40px; } }

.grid {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: .8;
  overflow: scroll;
  padding: 10px; }
  .grid p {
    color: white;
    text-shadow: 0px 0px 3px black; }

.sign-up {
  height: 100vh;
  width: 100%; }
  .sign-up ul li {
    float: right;
    font-size: 1.5em;
    list-style: none;
    padding-right: 40px; }
  .sign-up form {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
    .sign-up form .register .register-username, .sign-up form .register .register-pw, .sign-up form .register .register-confirm-pw {
      display: flex;
      padding-bottom: 20px; }
      .sign-up form .register .register-username .register-fieldname, .sign-up form .register .register-pw .register-fieldname, .sign-up form .register .register-confirm-pw .register-fieldname {
        min-width: 200px; }
    .sign-up form .register p {
      text-align: right;
      color: white;
      text-shadow: 0px 0px 3px black; }
    .sign-up form .register input {
      width: 300px; }
      .sign-up form .register input:focus {
        outline: none; }

.form-group label {
  color: white;
  text-shadow: 0px 0px 3px black; }

/*# sourceMappingURL=styles.css.map */
